<%= form_with(model: item, url: new_inventory_item_path) do |form| %>
    <div>
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
  
    <div>
      <%= form.label :brand %>
      <%= form.text_field :brand %>
    </div>
  
    <div>
      <%= form.label :quantity %>
      <%= form.number_field :quantity, step: 1 %>
    </div>
  
    <div>
      <%= form.label :weight, "Weight (in grams)" %>
      <%= form.number_field :weight, step: 0.01 %>
    </div>
    
    <div>
      <%= form.label :price, "Price (in USD)" %>
      <%= form.number_field :price, step: 0.01%>
    </div>

    <div>
      <%= form.label :category_id, "Category"%>
      <%= collection_select(@item, :category_id, Category.all, :id, :name) %>
    </div>
    
  
    <div>
      <%= form.submit %>
    </div>
<% end %>
