<h1><%= @item.name %></h1>
<h3><%= @item.brand %></h3>
<p>Quantity: <%=@item.quantity%></p>
<p>Weight: <%= @item.weight%> g</p>
<p>Price: $<%= @item.price %></p>
<%= link_to "Edit", edit_inventory_item_path(@inventory.id, @item) %>
<%= link_to "Delete",[@inventory, @item], :method => :delete%>

<%= link_to "Back", inventory_path(@inventory.id) %>
